.lhs {
    background-color: #3B3C3D;
}

.manager-nav {
    height: 100vh;
    background-color: #3B3C3D;
    color: white;
    overflow-y: auto;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.nav-item {
    background-color: #3B3C3D;
    padding: 1rem;
    align-self: center;
    justify-content: center;
    background-color: #3B3C3D;
    border-radius: 8px;
    width: 200px;
    margin-bottom: 0.5rem;
}

.nav-item button {
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 100%;
    /* Ensures button fills its container */
    background-color: transparent;
    /* Sets a default transparent background */
    color: inherit;
    /* Inherits text color from parent */
    padding: 0.5rem 1rem;
    /* Consistent padding around the text */
}

.nav-item button:hover {
    border-color: #646cff;
    /* Border color change on hover */
}

.nav-item button:focus,
.nav-item button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
    /* Custom focus styles */
}

@media (prefers-color-scheme: light) {
    .manager-nav {
        color: #3B3C3D;
        background-color: #ffffff;
        /* Light theme background */
    }

    .nav-item button {
        background-color: #f9f9f9;
        /* Light theme button background */
    }

    .nav-item button:hover {
        color: #747bff;
        /* Light theme button hover color */
    }
}