.manager-container {
    display: flex;
    flex-direction: row;
    
    width: 100%;

    height: 100vh;

    background-color: #666C6E;
   
    border-radius: 12px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
}

.lhs {
    flex: 1 0 20%;
  
    border-right: 1px solid #e1e1e1;
  
    color: #ffffff;
    
}

.rhs {
    flex: 4 0 80%;

    color: #ffffff;
  
    overflow-y: auto;
   
    padding: 24px;

}