.admin-role {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.admin-role h1 {
    font-size: 3rem;
    /* Adjust as necessary */
    color: var(--text-color);
}

.admin-role button {
    border-radius: var(--border-radius);
    padding: 0.6em 1em;
    font-size: 1rem;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.25s, transform 0.1s;
    margin-top: 7.5px;
    width: 200px;
    /* Adjust width as necessary */
}

.admin-role button:hover {
    background-color: var(--button-hover-color);
}

.admin-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.mui-icon-button {
    color: var(--primary-color);
    cursor: pointer;
    transition: transform 0.1s;
}

.mui-icon-button:hover {
    background-color: transparent;
    transform: scale(1.2);
}