:root {
    font-family: motor, monospace;
    font-style: normal;
    font-weight: 400;
    --background-color: #1a1a1a;
    --input-text-color: #575858;
    --text-color: #ffffff;
    --input-background: #2c2c2e;


    --border-radius: 0px;

    --mess-color: #2c5dba;

    --mess-secondary-color: rgb(15, 0, 122);
    --icon-color: #ffffff;
    --icon-hover-color: var(--mess-color);


}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

}

h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin: 1.5rem 0;
    color: var(--text-color);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}

.login-input[type="text"] {
    height: 35px;
    width: 40%;
    border-radius: var(--border-radius);
    padding: 0.6em 1em;
    font-size: .8rem;
    border: 1px solid var(--background-color);
    color: var(--primary-color);
    margin-bottom: 7.5px;
    box-sizing: border-box;
}

.login-button {
    border-radius: var(--border-radius);
    padding: 0.6em 1em;
    font-size: 1rem;
    border: none;
    background-color: var(--mess-color);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.25s, transform 0.1s;
    width: 30%;
    margin-top: 7.5px;
}

button:hover,
button:focus {
    background-color: var(--button-hover-color);
}

.login-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}


.login-top {
    margin-top: 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 75%;
}

.login-bottom {
    height: fit-content;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.logo-container {
    margin: 1rem;
    width: 20vw;
    max-width: 250px;
    min-width: 125x;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-container svg {
    width: 80%;
    height: auto;
}

.google-auth {
    margin-top: 2rem;
    background-color: #1a1a1a;
    border-radius: 8px;
}

.guest-options,
.manual-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 2%);
}

.vertical-divider {
    align-self: stretch;
    width: 1.5px;
    color: #ffffff;
    background-color: #ffffff;
    opacity: 0.4;
    height: 80%;
}

@media (max-width: 768px) {}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .login-header {
        font-size: var(--font-size-base);
    }
}