:root {
    font-family: motor, monospace;
    font-style: normal;
    font-weight: 400;
    --background-color: #1a1a1a;
    --input-text-color: #575858;
    --text-color: #ffffff;
    --input-background: #2c2c2e;


    --border-radius: 0px;

    --mess-color: rgb(255, 229, 0);

    --mess-secondary-color: rgb(15, 0, 122);
    --icon-color: #ffffff;
    --icon-hover-color: var(--mess-color);

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

}

h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin: 1.5rem 0;
    color: var(--text-color);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}


/* button {
    padding: 0.6em 1em;
    font-size: 1rem;
    border: none;
    font-family: motor, monospace;
    font-style: normal;
    font-weight: 400;
    background-color: var(--mess-color);
    color: var(--background-color);
    cursor: pointer;
    transition: background-color 0.25s, transform 0.1s;
    width: 30%;
    margin-top: 7.5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
} */

/* button:hover,
button:focus {
    color: #1a1a1a;
    border-color: var(--mess-color);
    transform: translateY(-2px);
 
} */

.login-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}

.logo-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-top {
    margin-top: 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 75%;
}

.login-bottom {
    height: fit-content;
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

.google-auth {
    margin-top: 2rem;
    background-color: #1a1a1a;
    border-radius: 8px;
}

.guest-options,
.manual-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 2%);
}

.vertical-divider {
    align-self: stretch;
    width: 1.5px;
    background-color: #ffffff;
    opacity: 0.4;
    height: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .MuiIconButton-colorPrimary {
    color: var(--text-color);
} */

/* .mui-icon-button:hover {
    transform: scale(1.1);
    background-color: #ffffff;
    border-color: var(--mess-color);
} */

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .login-header {
        font-size: var(--font-size-base);
    }
}