
.manager-nav-container {
    width: 100%;
    height: 100%;
    color: #1a1a1a;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
}

.nav-items {
    position: absolute;
    top: 100%;

    left: 0;
    width: 15%;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.nav-item button {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    background-color: transparent;
    border-radius: 6px;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 1.25rem;
}

.nav-item button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
}

.nav-item button:focus {
    outline: none;
}

.nav-item.active button {
    background-color: rgba(255, 255, 255, 0.15);
    transform: scale(1.05);
}

.menu-icon {
    font-size: 2rem;
    /* Adjust as needed */
}