.manager-container {
    margin-top: 7.5vh;
    height: 92.5vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.lhs {
    flex: 1 0 10%;
    color: #ffffff;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.rhs {
    background-color: #ffffff;
    flex: 2 0 90%;
    color: #ffffff;
    overflow-y: auto;
}

.lhs-closed {
    flex: 0 0 5%;
    transition: flex 0.3s ease;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.rhs-expanded {
    flex: 1 0 95%;
}

.grayscale {
    filter: grayscale(100%) contrast(1.25);
}