:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1A1A1A;
}



.manager-analytics-container {
    padding: 30px;
    border-radius: 3px;
    width: 95%;
}

.date-time-picker-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    
}

.MUITextField-root {
    margin: 10px;
    color: #EBEBE9;
    height: 100px;
}

.report-buttons-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.date-time-picker-container button {
    background-color: #1A1A1A;
    color: #EBEBE9;
    padding: 10px 20px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    max-width: 210px;
    font-size: 11px;
}

.date-time-picker-container button:hover {
    background-color: #0079d6;
}

.report-display-container {
    background-color: white;
    border-radius: 5px;
    min-height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 800px;
    width: 1490px;
    color: black;
    padding: 30px;
}

@media (max-width: 768px) {
    .date-time-picker-container,
    .report-buttons-container {
        flex-direction: column;
        align-items: center;
    }
}
