.table-container {
    width: 95%;
}

.table {
    display: flexbox;
    overflow: hidden;
    table-layout: auto;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 10px;
    white-space: nowrap;
    width: 100%;
}

.table thead {
    color: #ccc;
    background-color: #222;
    text-align: left;
}

.table th,
.table td {
    padding: 0.2rem;

}

.table td {
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tbody tr:hover {
    background-color: #767474;
}

.expand {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}

.actions svg {
    cursor: pointer;
}

.delete-btn {
    color: #e10d05;
}



.btn {
    margin-top: 2rem;
    margin-left: 65%;
    border: none;
    background-color: #242424;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 5px #ccc;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea,
.form-group select {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;
}

.form-group label {
    margin-bottom: 0.2rem;
}


.form-div {
    margin-bottom: 1%;
    margin-left: 35%;
}

.form-div form input {
    width: 43%;
    padding: 5px;
}

.form-div form button {
    width: 10%;
    padding: 5px;
    cursor: pointer;
}




