.login-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 100vh;
    background-color: var(--background-color);
}

.manual-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:30%
}

.login-input {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 0.6em;
    width: 80%;
}

.login-button,
.google-button {
    margin-top: 1em;
}

.google-button {
    background-color: #4285F4;
    color: white;
    margin-top: 2em;
}

.google-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    width: 30%
}