/* CSS reset for consistent styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: var(--font-primary);
    background-color: var(--color-bg-dark);
    color: var(--font-color);
    font-size: var(--font-size-base);

    /* Slightly darker than the page's background */
}

.guest-access,
.manual-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 4%);
}

h1 {
    font-size: var(--font-size-large);
    color: var(--font-color);
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
}


.login-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 4%;
}

/* Style for headers */
h1 {
    font-size: var(--font-size-large);
    color: var(--font-color);
    text-align: center;
    margin-bottom: 2rem;
}

/* Input fields styles */
input[type="text"] {
    border: 2px solid var(--color-input-border);
    background-color: #23272b;
    color: var(--color-input-text);
    padding: 0.8em;
    margin-bottom: 1rem;
    width: 60%;
    border-radius: 8px;

}

/* Button styles */
button {
    background-color: var(--button-background);
    color: var(--color-button-text);
    padding: 0.8em;
    width: 60%;
    /* Match input field width */
    border-radius: var(--border-radius);
    cursor: pointer;
    border: none;
    /* Remove default border */
    transition: background-color 0.25s;
}

button:hover {
    background-color: var(--button-hover-background);
}

/* Divider style */
.vertical-divider {
    border-left: 1px solid #ffffff;
    height: 80%;

    opacity: 0.6;

}

.google-auth {
    /* Add space above the Google Auth button */

    margin-top: 2rem;
    display: flex;
    align-self: center;
    cursor: pointer;
    border: none;
    background-color: #202124;

}

.qjTHM {
    color: #202124;
    border-radius: 8px;
}


/* Responsive styles */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .login-header {
        font-size: var(--font-size-base);
    }

    .section {
        width: 80%;
        margin-bottom: 2rem;
    }

    .vertical-divider {
        display: none;
    }
}